body {
	background-color: #EEEEEE;
	font-family: Calibri , Arial , sans-serif;
}

a {
	text-decoration: none;
	color: #FFCB09;
}

h1 , h2{
	margin: 0;
}

h1 a {
	text-decoration: none;
	color: brown;
}

h5 {
	background-color: yellow;
	text-align: center;
	margin: 0;
}

#contactmepage h5 {
	background-color: gold;
	text-align: right;
}

#thegcd {
	color: #727188;
	font-family: "Times New Roman", Times, serif;
	font-size: 300%;
	padding: 20px;
}

#container {
	background-color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#mainheader {
	background-color: #F8D708;
	color: brown;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
	background-color: #FFFDF0;
}

#nav ul{
	list-style-type: none;
	padding: 0;
}


#nav .selected {
	color: brown;
	font-weight: bold;
}

#main {
	width: 790px;
	float: right;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

#footer {
	clear: both;
	padding: 8px;
	background-color: #999999;
	color: white;
	text-align: right;
}